/* ---------------------------- */
/* BASIC SETUP */
/* ---------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}


/* ---------------------------- */
/* REUSABLE COMPOTENTS */
/* ---------------------------- */

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  color: seashell;
}

/* ---------------------------- */
/* HEADER */
/* ---------------------------- */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  width: auto;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding-right: 20px;
}